body{
    display: flex;
    flex-direction: column;
}
.introduction{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font: "Roboto", sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
    flex: 5;
}
.introduction .header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.introduction .header .heading{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    font-family: "Roboto", sans-serif;
}
.introduction .header .links{
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto", sans-serif;
}
.link{
    color: #e5e7eb;
}
.greetings{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 200px;
    justify-content: space-between;
}
.greetings .greeting{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.greetings .image{
    display: flex;
    width: 50%;
}
.greetings .greeting .cristiano{
    display: flex;
    flex: 2;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}
.greetings .greeting .sui{
    display: flex;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
}
.greetings .greeting button{
    display: flex;
    flex: 1;
    color: #f9faf8 ;
}
button{
    display: flex;
    background-color: #3882f6;
    width: 80px;
    height: 1px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.info{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.info .title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 30px;
}
.info .images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.images{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.messi{
    display: flex;
    height: 250px;
    width: 100%;
    border: 3px solid #1f67cc;
}
.ney{
    display: flex;
    height: 250px;
    width: 100%;
    border: 3px solid #1f67cc;
}
.zidane{
    display: flex;
    height: 250px;
    border: 3px solid #1f67cc;
    width: 100%;
}
.kurt{
    display: flex;
    height: 250px;
    width: 100%;
    border: 3px solid #1f67cc;
}

.description{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: lightslategray;
    margin: 30px;
    width: 250px;
}
.img{
    display: flex;
    flex-direction: column;
}
.quote{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
}
.jose{
    display: flex;
    justify-content: flex-end;
}
.text{
    display: flex;
    align-items: flex-end;
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}
.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;;
}
.subscribe .text{
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
}
.container{
    display: flex;
    height: 150px;
    width: 700px;
    background-color: #3a7fe0;
    padding-top: 25px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.button button{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.end{
    display: flex;
    background-color: #4d5c6f;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}
